/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d40800;
  --ifm-color-primary-dark: #c40902;
  --ifm-color-primary-darker: #b40802;
  --ifm-color-primary-darkest: #a00701;
  --ifm-color-primary-light: #e20b02;
  --ifm-color-primary-lighter: #f20b02;
  --ifm-color-primary-lightest: #ff0c02;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d40800;
  --ifm-color-primary-dark: #c40902;
  --ifm-color-primary-darker: #b40802;
  --ifm-color-primary-darkest: #a00701;
  --ifm-color-primary-light: #e20b02;
  --ifm-color-primary-lighter: #f20b02;
  --ifm-color-primary-lightest: #ff0c02;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
